.about {
	text-align: center;
	padding: 150px 0;
	h2 {
		@extend style-h2;
		font-size: 35px;
	}
	p {
		color: $gray;
		margin-bottom: 50px;
        font-style: italic;
	}
    .box-timeline {
        margin-bottom: 50px;
        text-align: left;
        ::before {
            width: 3px;
            background-color: black;
            margin-left: 50%;
        }
        &:nth-child(2n+1) {
            text-align: right;
        }
        .img-circle {
            padding: 4%;
            background-color: $silver;
        }
        .subheading {
            text-transform: none;
        }
        .text-muted {
            font-style: normal;
        }
        .story {
            width: 160px;
            height: 160px;
            background: $orange;
            border-radius: 100%;
            border: 7px solid $silver;
            margin: auto;
            padding-top: 30px;
            text-align: center;
        }
    }
}
h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}