.navbar-default {
    background-color: rgba(51, 50, 50, 0.2);
    padding: 15px;
    border:none;
    .navbar-brand {
      color: $orange;
      font-size: 2em;
      transition: 1s;
      font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
      &:hover {
      	color: $white;
      }
    }
    .nav li a {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
      color: white;
      &:hover {
      	color: $orange;
      }
    }
}
.hero-img {
  background-image: url(../../img/header-bg.jpg);
  height: 650px;
  background-size: cover;
  background-position-y: 45%;
  color: white;
  text-align: center;
  background-attachment: scroll;
  h2{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 35px;
    margin-bottom: 25px;
    margin: 23% 0 0;
  }
  h1{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 60px;;
  }
  a{
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px;
    transition: 1s;
    text-decoration: none;
    &:hover {
      border: 1px solid $orange;
      background-color: transparent;
      color: $orange;
      text-decoration: none;
    }
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-shrink {
    background-color: #222222;
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  .navbar-default {
    background-color: #222222;
    .navbar-toggle {
      background-color: $orange;
      border-color: $orange;
      transition: 0.5s;
      .icon-bar {
        background-color: $black;
      }
      &:hover {
      background-color: transparent;
      }
    }
  }
  .hero-img {
    height: 500px;
    h2 {
      font-size: 20px;
      margin-top: 42%;
    }
    h1 {
      font-size: 50px;
    }
  }
}