style-h2, .services h2, .services .box-icon h4, .portfolio h2, .portfolio .box-portfolio .text-portfolio h4, .about h2, .team h2, .team .box-team h4, .contact h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.navbar-default {
  background-color: rgba(51, 50, 50, 0.2);
  padding: 15px;
  border: none; }
  .navbar-default .navbar-brand {
    color: #fed136;
    font-size: 2em;
    transition: 1s;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
    .navbar-default .navbar-brand:hover {
      color: white; }
  .navbar-default .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-default .nav li a:hover {
      color: #fed136; }

.hero-img {
  background-image: url(../../img/header-bg.jpg);
  height: 650px;
  background-size: cover;
  background-position-y: 45%;
  color: white;
  text-align: center;
  background-attachment: scroll; }
  .hero-img h2 {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 35px;
    margin-bottom: 25px;
    margin: 23% 0 0; }
  .hero-img h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 60px; }
  .hero-img a {
    color: white;
    background-color: #fed136;
    border: 1px solid #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px;
    transition: 1s;
    text-decoration: none; }
    .hero-img a:hover {
      border: 1px solid #fed136;
      background-color: transparent;
      color: #fed136;
      text-decoration: none; }

@media (max-width: 768px) {
  .navbar-default .navbar-shrink {
    background-color: #222222;
    padding: 10px 0; } }
@media (max-width: 600px) {
  .navbar-default {
    background-color: #222222; }
    .navbar-default .navbar-toggle {
      background-color: #fed136;
      border-color: #fed136;
      transition: 0.5s; }
      .navbar-default .navbar-toggle .icon-bar {
        background-color: black; }
      .navbar-default .navbar-toggle:hover {
        background-color: transparent; }

  .hero-img {
    height: 500px; }
    .hero-img h2 {
      font-size: 20px;
      margin-top: 42%; }
    .hero-img h1 {
      font-size: 50px; } }
.services {
  text-align: center;
  padding: 150px 0; }
  .services h2 {
    font-size: 35px; }
  .services p {
    font-style: italic;
    color: #777777;
    margin-bottom: 50px; }
  .services .box-icon .fa {
    padding: 20px 22px;
    background: #fed136;
    border-radius: 100%;
    color: white;
    font-size: 45px;
    width: 90px;
    height: 90px;
    padding-top: 20px; }
  .services .box-icon h4 {
    margin: 20px 0 15px;
    text-transform: none; }
  .services .box-icon p {
    font-style: normal;
    color: #777777;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.75; }

@media (max-width: 600px) {
  .services {
    padding: 100px 0; } }
.portfolio {
  background-color: #F7F7F7;
  padding: 150px 0;
  text-align: center; }
  .portfolio h2 {
    font-size: 35px; }
  .portfolio p {
    font-style: italic;
    color: #777777;
    margin-bottom: 50px; }
  .portfolio .box-portfolio {
    background-color: white;
    margin-bottom: 28px;
    transition: 1s; }
    .portfolio .box-portfolio:hover {
      background: rgba(254, 209, 54, 0.9);
      width: 100%;
      height: 100%; }
    .portfolio .box-portfolio img {
      width: 100%; }
    .portfolio .box-portfolio .text-portfolio {
      padding: 28px; }
      .portfolio .box-portfolio .text-portfolio p {
        margin-bottom: 0; }
      .portfolio .box-portfolio .text-portfolio h4 {
        text-transform: none;
        margin: 0; }

@media (max-width: 600px) {
  .portfolio {
    padding: 100px 0; } }
.about {
  text-align: center;
  padding: 150px 0; }
  .about h2 {
    font-size: 35px; }
  .about p {
    font-style: italic;
    color: #777777;
    margin-bottom: 50px; }
  .about .timeline {
    list-style: none;
    padding: 0;
    position: relative; }
    .about .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: "";
      width: 2px;
      background-color: #f1f1f1;
      left: 40px;
      margin-left: -1.5px; }
    .about .timeline .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #fed136;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
    .about .timeline .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .about .timeline .timeline-panel .timeline-heading > h4 {
        margin-top: 0;
        color: inherit; }
        .about .timeline .timeline-panel .timeline-heading > h4 .subheading {
          text-transform: none; }
      .about .timeline .timeline-panel .timeline-body > p, .about .timeline .timeline-panel .timeline-body > ul {
        margin-bottom: 0; }
        .about .timeline .timeline-panel .timeline-body > p .text-muted, .about .timeline .timeline-panel .timeline-body > ul .text-muted {
          color: #777777;
          font-size: 14px;
          line-height: 1.75; }

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px; }

  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px; }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px; }

  .timeline > li .timeline-image h4 {
    margin-top: 40px; } }
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px; }

  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px; }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px; }

  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px; } }
@media (min-width: 768px) {
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }

  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px; }

  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right; }

  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px; } }
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px; }

.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px; }

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.team {
  background-color: #F7F7F7;
  padding: 150px 0;
  text-align: center; }
  .team h2 {
    font-size: 35px; }
  .team p {
    font-style: italic;
    color: #777777;
    margin-bottom: 50px; }
  .team .box-team {
    margin-bottom: 50px; }
    .team .box-team img {
      border-radius: 100%;
      padding: 2%;
      background: white; }
    .team .box-team h4 {
      text-transform: none;
      margin: 25px 0 0; }
    .team .box-team p {
      font-style: normal;
      margin-bottom: 13px; }
    .team .box-team ul {
      list-style: none;
      padding-left: 0;
      margin-left: -5px; }
      .team .box-team ul li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px; }
        .team .box-team ul li a {
          display: block;
          background-color: #222222;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          font-size: 20px;
          line-height: 40px;
          color: white;
          transition: 0.5s; }
          .team .box-team ul li a:hover {
            background-color: #fed136; }
  .team .parrafo {
    margin-bottom: 0;
    font-size: medium;
    font-style: normal;
    line-height: 1.7; }

.clientes img {
  margin: 50px auto; }

@media (max-width: 600px) {
  .team {
    padding: 100px 0; } }
.contact {
  background-color: #222222;
  padding: 150px 0;
  text-align: center;
  background-image: url(../../img/map-image.png);
  background-position: 50%;
  background-repeat: no-repeat; }
  .contact h2 {
    font-size: 35px;
    color: white; }
  .contact p {
    font-style: italic;
    color: #777777;
    margin: 21px 0 60px; }
  .contact .form-group {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .contact .form-group input {
      display: block;
      width: 100%;
      margin-bottom: 25px;
      padding: 18px;
      font-weight: 600;
      border: 1px solid white;
      border-radius: 3px; }
    .contact .form-group .form-control {
      height: 224px;
      font-weight: 600; }

.btn {
  color: white;
  background-color: #fed136;
  border: 1px solid #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 16px;
  padding: 20px 40px;
  transition: 1s;
  text-decoration: none; }
  .btn:hover {
    border: 1px solid #fed136;
    background-color: transparent;
    color: #fed136;
    text-decoration: none; }

@media (max-width: 600px) {
  .contact {
    padding: 100px 0; } }
footer {
  padding: 25px 0;
  text-align: center; }
  footer .copy {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none; }
  footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: -5px; }
    footer ul li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px; }
      footer ul li a {
        display: block;
        background-color: #222222;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        color: white;
        transition: 0.5s; }
        footer ul li a:hover {
          background-color: #fed136;
          color: white; }
  footer .politica a {
    margin: 10px;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #fed136;
    transition: 0.5s;
    text-decoration: none; }
    footer .politica a:hover {
      color: black; }

/*# sourceMappingURL=main.css.map */
