nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
	div.container
		div.navbar-header.page-scroll
			button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1").navbar-toggle
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				pan.icon-bar
			a.navbar-brand.page-scroll(href="https://laboratoria.la#page-top") Start Bootstap
		div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav.navbar-right
				li.hidden
					a(href="#page-top")
				li: a.a-hover(href="index.html#") SERVICES
				li: a.a-hover(href="index.html#") PORTFOLIO
				li: a.a-hover(href="index.html#") ABOUT
				li: a.a-hover(href="index.html#") TEAM
				li: a.a-hover(href="index.html#") CONTACT
.hero-img
	.container
		h2 Welcome To Our Studio!
		h1 it's nice to meet you
		a(href="#") tell me more