section.services
	.container
		h2 services
		p Lorem ipsum dolor sit amet consectetur.
		.row
			.col-md-4
				.box-icon
					i.fa.fa-shopping-cart
					h4 E-Commerce
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, dolor sapiente, nam quasi asperiores numquam blanditiis, harum temporibus.
			.col-md-4
				.box-icon
					i.fa.fa-laptop
					h4 Responsive Design
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, dolor sapiente, nam quasi asperiores numquam blanditiis, harum temporibus.
			.col-md-4
				.box-icon
					i.fa.fa-lock
					h4 Web Security
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, dolor sapiente, nam quasi asperiores numquam blanditiis, harum temporibus.