section.about
	.container
		h2 about
		p Lorem ipsum dolor sit amet consectetur
		.row.box-timeline.line
			.col-md-5.col-xs-6
				.timeline-heading
					h4 2009-2011
					h4.subheading Our Humble Beginnings
					p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et laborum quod iste repellat ut debitis inventore asperiores, minus odit quae, numquam animi maiores nisi obcaecati cum, fuga temporibus nam.
			.col-md-2.col-xs-6
				.timeline-image
					img.img-circle.img-responsive(src="img/about/1.jpg")
			
		.row.box-timeline
			.col-md-2.col-md-offset-5.col-xs-6
				.timeline-image
					img.img-circle.img-responsive(src="img/about/2.jpg")
			.col-md-5.col-xs-6
				.timeline-heading
					h4 March 2011
					h4.subheading an Agency is Born
				.timeline-body
					p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et laborum quod iste repellat ut debitis inventore asperiores, minus odit quae, numquam animi maiores nisi obcaecati cum, fuga temporibus nam.
		.row.box-timeline
			.col-md-5.col-xs-6
				.timeline-heading
					h4 December 2012
					h4.subheading Transition to Full Service
					p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et laborum quod iste repellat ut debitis inventore asperiores, minus odit quae, numquam animi maiores nisi obcaecati cum, fuga temporibus nam.
			.col-md-2.col-xs-6
				.timeline-image
					img.img-circle.img-responsive(src="img/about/3.jpg")
			
		.row.box-timeline
			.col-md-2.col-md-offset-5.col-xs-6
				.timeline-image
					img.img-circle.img-responsive(src="img/about/4.jpg")
			.col-md-5.col-xs-6
					.timeline-heading
						h4 March 2011
						h4.subheading an Agency is Born
					.timeline-body
						p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et laborum quod iste repellat ut debitis inventore asperiores, minus odit quae, numquam animi maiores nisi obcaecati cum, fuga temporibus nam.
		.row.box-timeline
			.col-md-12
				.story
					h4 Be part <br> Of Our <br> Story!
