section.contact
			.container
				h2 contact us
				p Lorem ipsum dolor sit amet consectetur.
				.row
					.col-md-6
						.form-group
							input(type="text" placeholder="YOUR NAME *" id="name" required data-validation-required-message="Please enter your name." aria-invalid="false")
							input(type="text" placeholder="YOUR EMAIL *" id="name" required data-validation-required-message="Please enter your email." aria-invalid="false")
							input(type="text" placeholder="YOUR PHONE *" id="name" required data-validation-required-message="Please enter your phone." aria-invalid="false")
					.col-md-6
						.form-group
							<textarea class="form-control" placeholder="YOUR MESSAGE *" row="10" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
				<button type="submit" class="btn btn-xl">SEND MESSAGE</button>
