footer
	.container
		.row
			.col-md-4
				span.copy Copyright &copy; Your Website 2014
			.col-md-4
				ul
					li: a(href="#"): i.fa.fa-twitter
					li: a(href="#"): i.fa.fa-facebook
					li: a(href="#"): i.fa.fa-linkedin
			.col-md-4
				ul.politica
					a(href="#") Privacy Policy
					a(href="#") Terms of Use
