section.portfolio
	.container
		h2 portfolio
		p Lorem ipsum dolor sit amet, consectetur
		.row
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/roundicons.png")
					.text-portfolio
						h4 Round Icons
						p Graphic Design
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/startup-framework.png")
					.text-portfolio
						h4 Startup Framework
						p website Design
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/treehouse.png")
					.text-portfolio
						h4 Treehouse
						p Website Design
		.row
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/golden.png")
					.text-portfolio
						h4 Golden
						p Website Design
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/escape.png")
					.text-portfolio
						h4 Escape
						p Website Design
			.col-md-4
				.box-portfolio
					img(src="img/portfolio/dreams.png")
					.text-portfolio
						h4 Dreams
						p Website Design