section.team
	.container
		h2 our amazing team
		p Lorem ipsum dolor sit amet consectetur.
		.row
			.col-md-4
				.box-team
					img(src="img/team/1.jpg")
					h4 Kay Garland
					p Lead Designer
					ul
						li: a(href="#"): i.fa.fa-twitter
						li: a(href="#"): i.fa.fa-facebook
						li: a(href="#"): i.fa.fa-linkedin
			.col-md-4
				.box-team
					img(src="img/team/2.jpg")
					h4 Larry Parker
					p Lead Marketer
					ul
						li: a(href="#"): i.fa.fa-twitter
						li: a(href="#"): i.fa.fa-facebook
						li: a(href="#"): i.fa.fa-linkedin
			.col-md-4
				.box-team
					img(src="img/team/3.jpg")
					h4 Diana Pertersen
					p lead Developer
					ul
						li: a(href="#"): i.fa.fa-twitter
						li: a(href="#"): i.fa.fa-facebook
						li: a(href="#"): i.fa.fa-linkedin
		.row
			.col-md-8.col-md-offset-2
				p.parrafo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab expedita accusantium, distinctio libero optio ratione quia obcaecati quia obcaecati.
aside.clientes
	.container
		.row
			.col-md-3.col-sm-6
				a(href="#"): img(src="img/logos/envato.jpg").img-responsive
			.col-md-3.col-sm-6
				a(href="#"): img(src="img/logos/designmodo.jpg").img-responsive
			.col-md-3.col-sm-6
				a(href="#"): img(src="img/logos/themeforest.jpg").img-responsive
			.col-md-3.col-sm-6
				a(href="#"): img(src="img/logos/creative-market.jpg").img-responsive

