.services {
	text-align: center;
	padding: 150px 0;
	h2 {
		@extend style-h2;
		font-size: 35px;
	}
	p {
		font-style: italic;
		color: $gray;
		margin-bottom: 50px;
	}
	.box-icon {
		.fa {
			padding: 20px 22px;
            background: $orange;
            border-radius: 100%;
            color: white;
            font-size: 45px;
            width: 90px;
            height: 90px;
            padding-top: 20px;
		}
		h4 {
			@extend style-h2;
			margin: 20px 0 15px;
            text-transform: none;
		}
		p {
			font-style: normal;
			color: $gray;
			margin-bottom: 0;
			font-size: 13px;
			line-height: 1.75;
		}
	}
}
@media (max-width: 600px) {
	.services {
		padding:100px 0;
	}
}